name: CI

on:
  push:
    branches: [main]

  pull_request:
    branches: [main]
    types: [opened, reopened, synchronize]

jobs:
  analyze:
    name: Static Analysis
    runs-on: ubuntu-latest
    steps:
      - name: Setup | Checkout
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1

      - name: Setup | Backend | Restore uv cache
        uses: actions/cache@9255dc7a253b0ccc959486e2bca901246202afeb # v5.0.1
        with:
          path: /tmp/.uv-cache
          key: uv-${{ runner.os }}-${{ hashFiles('backend/uv.lock') }}
          restore-keys: |
            uv-${{ runner.os }}-${{ hashFiles('backend/uv.lock') }}
            uv-${{ runner.os }}

      - name: Setup | Frontend | Restore pnpm cache
        uses: actions/cache@9255dc7a253b0ccc959486e2bca901246202afeb # v5.0.1
        with:
          path: /.pnpm-store
          key: uv-${{ runner.os }}-${{ hashFiles('frontend/pnpm-lock.yaml') }}
          restore-keys: |
            pnpm-${{ runner.os }}-${{ hashFiles('frontend/pnpm-lock.yaml') }}
            pnpm-${{ runner.os }}

      # - name: Setup | Frontend | Setup node with pnpm cache
      #   uses: actions/setup-node@395ad3262231945c25e8478fd5baf05154b1d79f # v6
      #   with:
      #     node-version: lts/*
      #     cache: pnpm

      - name: Setup | Mise-en-place
        uses: jdx/mise-action@146a28175021df8ca24f8ee1828cc2a60f980bd5 # v3.5.1
        with:
          version: 2025.12.13 # [default: latest] mise version to install
          install: true # [default: true] run `mise install`
          cache: true # [default: true] cache mise using GitHub's cache
          experimental: true # [default: false] enable experimental features


      - name: Analyze | Run static code analysis
        run: just analyze

  test:
    name: Unit Test
    runs-on: ubuntu-latest
    steps:
      - name: Setup | Checkout
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1

      - name: Setup | Backend | Restore uv cache
        uses: actions/cache@9255dc7a253b0ccc959486e2bca901246202afeb # v5.0.1
        with:
          path: /tmp/.uv-cache
          key: uv-${{ runner.os }}-${{ hashFiles('backend/uv.lock') }}
          restore-keys: |
            uv-${{ runner.os }}-${{ hashFiles('backend/uv.lock') }}
            uv-${{ runner.os }}

      - name: Setup | Frontend | Restore pnpm cache
        uses: actions/cache@9255dc7a253b0ccc959486e2bca901246202afeb # v5.0.1
        with:
          path: /.pnpm-store
          key: uv-${{ runner.os }}-${{ hashFiles('frontend/pnpm-lock.yaml') }}
          restore-keys: |
            pnpm-${{ runner.os }}-${{ hashFiles('frontend/pnpm-lock.yaml') }}
            pnpm-${{ runner.os }}

      # - name: Setup | Frontend | Setup node with pnpm cache
      #   uses: actions/setup-node@395ad3262231945c25e8478fd5baf05154b1d79f # v6
      #   with:
      #     node-version: lts/*
      #     cache: pnpm

      - name: Setup | Mise-en-place
        uses: jdx/mise-action@146a28175021df8ca24f8ee1828cc2a60f980bd5 # v3.5.1
        with:
          version: 2025.12.13 # [default: latest] mise version to install
          install: true # [default: true] run `mise install`
          cache: true # [default: true] cache mise using GitHub's cache
          experimental: true # [default: false] enable experimental features

      - name: Test | Run all unit tests
        run: just unit-test
  ci:
    name: Continuous Integration
    runs-on: ubuntu-latest
    steps:
      - name: Setup | Checkout
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
      - name: Setup | Mise-en-place
        uses: jdx/mise-action@146a28175021df8ca24f8ee1828cc2a60f980bd5 # v3.5.1
        with:
          version: 2025.12.13 # [default: latest] mise version to install
          install: true # [default: true] run `mise install`
          cache: true # [default: true] cache mise using GitHub's cache
          experimental: true # [default: false] enable experimental features
      - name: Setup | Setup docker compose
        uses: docker/setup-compose-action@23d018c8d3d7324668ae2253ab48526ce0fc2bad
      - name: CI
        id: ci
        env:
          DOCKER_IMAGE_FRONTEND: fmv-demo-frontend
          DOCKER_IMAGE_BACKEND: fmv-demo-backend
          STACK_NAME: fmv-demo
          DOMAIN: example.com
        run: just ci
    outputs:
      new-release-detected: ${{ steps.ci.outputs.released }}
      new-release-version: ${{ steps.ci.outputs.version }}
      new-release-tag: ${{ steps.ci.outputs.tag }}
      new-release-is-prerelease: ${{ steps.ci.outputs.is_prerelease }}

      # Disable until docker-compose/mongodb setup is complete
  # test-e2e:
  #   runs-on: ubuntu-latest
  #   steps:
  #     - uses: actions/checkout@v4
  #     - uses: actions/cache@v4
  #       with:
  #         path: |
  #           ~/.cache
  #         key: cypress-cache-${{ runner.os }}-${{ hashFiles('pnpm-lock.yaml') }}

  #     - uses: pnpm/action-setup@v3

  #     - name: Use Node.js
  #       uses: actions/setup-node@v4
  #       with:
  #         node-version: lts/*
  #         registry-url: https://registry.npmjs.org/
  #         cache: pnpm

  #     - run: pnpm install

  #     - name: Cypress PNPM Patch
  #       run: cp pnpm-lock.yaml package-lock.json

  #     - name: Cypress
  #       uses: cypress-io/github-action@v6
  #       with:
  #         install-command: echo
  #         build: pnpm run build
  #         start: npx vite preview --port 3333
