name: CI

on:
  push:
    branches: [main]
  pull_request:
    branches: [main]
    types: [opened, reopened, synchronize]

env:
  UV_CACHE_DIR: /tmp/.uv-cache

permissions: {}

concurrency:
  group: ${{ github.workflow }}-${{ github.head_ref }}
  cancel-in-progress: true

jobs:
  analyze:
    name: Static Analysis
    runs-on: ubuntu-latest
    permissions:
      contents: read
    steps:
      - name: Setup | Checkout
        uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2

      - name: Setup | Backend | Restore uv cache
        uses: actions/cache@8b402f58fbc84540c8b491a91e594a4576fec3d7 # v5.0.2
        with:
          path: /tmp/.uv-cache
          key: uv-${{ runner.os }}-${{ hashFiles('backend/uv.lock') }}
          restore-keys: |
            uv-${{ runner.os }}-${{ hashFiles('backend/uv.lock') }}
            uv-${{ runner.os }}

      - name: Setup | Frontend | Restore pnpm cache
        uses: actions/cache@8b402f58fbc84540c8b491a91e594a4576fec3d7 # v5.0.2
        with:
          path: ~/.cache/pnpm
          key: pnpm-${{ runner.os }}-${{ hashFiles('frontend/pnpm-lock.yaml') }}
          restore-keys: |
            pnpm-${{ runner.os }}-${{ hashFiles('frontend/pnpm-lock.yaml') }}
            pnpm-${{ runner.os }}

      - name: Setup | Mise-en-place
        uses: jdx/mise-action@6d1e696aa24c1aa1bcc1adea0212707c71ab78a8 # v3.6.1
        with:
          version: 2025.12.13 # [default: latest] mise version to install
          install: true # [default: true] run `mise install`
          cache: true # [default: true] cache mise using GitHub's cache
          experimental: true # [default: false] enable experimental features

      - name: Analyze | Run static code analysis
        run: just analyze

  test:
    name: Unit Test
    runs-on: ubuntu-latest
    permissions:
      contents: read
    steps:
      - name: Setup | Checkout
        uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2

      - name: Setup | Backend | Restore uv cache
        uses: actions/cache@8b402f58fbc84540c8b491a91e594a4576fec3d7 # v5.0.2
        with:
          path: /tmp/.uv-cache
          key: uv-${{ runner.os }}-${{ hashFiles('backend/uv.lock') }}
          restore-keys: |
            uv-${{ runner.os }}-${{ hashFiles('backend/uv.lock') }}
            uv-${{ runner.os }}

      - name: Setup | Frontend | Restore pnpm cache
        uses: actions/cache@8b402f58fbc84540c8b491a91e594a4576fec3d7 # v5.0.2
        with:
          path: ~/.cache/pnpm
          key: pnpm-${{ runner.os }}-${{ hashFiles('frontend/pnpm-lock.yaml') }}
          restore-keys: |
            pnpm-${{ runner.os }}-${{ hashFiles('frontend/pnpm-lock.yaml') }}
            pnpm-${{ runner.os }}

      - name: Setup | Mise-en-place
        uses: jdx/mise-action@6d1e696aa24c1aa1bcc1adea0212707c71ab78a8 # v3.6.1
        with:
          version: 2025.12.13 # [default: latest] mise version to install
          install: true # [default: true] run `mise install`
          cache: true # [default: true] cache mise using GitHub's cache
          experimental: true # [default: false] enable experimental features

      - name: Test | Run all unit tests
        run: just unit-test
  ci:
    name: Continuous Integration
    runs-on: ubuntu-latest
    permissions:
      contents: read
    steps:
      - name: Setup | Checkout
        uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2

      - name: Setup | Force correct release branch on workflow sha
        run: git checkout -B ${{ github.ref_name }}

      - name: Setup | Backend | Restore uv cache
        uses: actions/cache@8b402f58fbc84540c8b491a91e594a4576fec3d7 # v5.0.2
        with:
          path: /tmp/.uv-cache
          key: uv-${{ runner.os }}-${{ hashFiles('backend/uv.lock') }}
          restore-keys: |
            uv-${{ runner.os }}-${{ hashFiles('backend/uv.lock') }}
            uv-${{ runner.os }}

      - name: Setup | Frontend | Restore pnpm cache
        uses: actions/cache@8b402f58fbc84540c8b491a91e594a4576fec3d7 # v5.0.2
        with:
          path: ~/.cache/pnpm
          key: pnpm-${{ runner.os }}-${{ hashFiles('frontend/pnpm-lock.yaml') }}
          restore-keys: |
            pnpm-${{ runner.os }}-${{ hashFiles('frontend/pnpm-lock.yaml') }}
            pnpm-${{ runner.os }}

      - name: Setup | Mise-en-place
        uses: jdx/mise-action@6d1e696aa24c1aa1bcc1adea0212707c71ab78a8 # v3.6.1
        with:
          version: 2025.12.13 # [default: latest] mise version to install
          install: true # [default: true] run `mise install`
          cache: true # [default: true] cache mise using GitHub's cache
          experimental: true # [default: false] enable experimental features

      - name: Setup | Setup docker compose
        uses: docker/setup-compose-action@23d018c8d3d7324668ae2253ab48526ce0fc2bad

      - name: CI
        id: ci
        env:
          DOCKER_IMAGE_FRONTEND: fmv-demo-frontend
          DOCKER_IMAGE_BACKEND: fmv-demo-backend
          STACK_NAME: fmv-demo
          DOMAIN: example.com
        run: just ci
    outputs:
      new-release-detected: ${{ steps.ci.outputs.released }}
      new-release-version: ${{ steps.ci.outputs.version }}
      new-release-tag: ${{ steps.ci.outputs.tag }}
      new-release-is-prerelease: ${{ steps.ci.outputs.is_prerelease }}

      # Disable until docker-compose/mongodb setup is complete
  # test-e2e:
  #   runs-on: ubuntu-latest
  #   steps:
  #     - uses: actions/checkout@v4
  #     - uses: actions/cache@v4
  #       with:
  #         path: |
  #           ~/.cache
  #         key: cypress-cache-${{ runner.os }}-${{ hashFiles('pnpm-lock.yaml') }}

  #     - uses: pnpm/action-setup@v3

  #     - name: Use Node.js
  #       uses: actions/setup-node@v4
  #       with:
  #         node-version: lts/*
  #         registry-url: https://registry.npmjs.org/
  #         cache: pnpm

  #     - run: pnpm install

  #     - name: Cypress PNPM Patch
  #       run: cp pnpm-lock.yaml package-lock.json

  #     - name: Cypress
  #       uses: cypress-io/github-action@v6
  #       with:
  #         install-command: echo
  #         build: pnpm run build
  #         start: npx vite preview --port 3333
